body {
    font-family: 'Roboto', sans-serif;
    padding-top: 70px;
    background-color: #F0F2F5;
    color: #333;
}

.sidebar {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #007BFF;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidebar a {
    padding: 15px 25px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
}

.sidebar a:hover {
    background-color: #575fcf;
}

.content {
    margin-left: 250px;
    padding: 20px;
}

footer {
    background-color: #343A40;
    height: 50px;
    color: #FFF;
    text-align: center;
    padding: 10px 0;
}

h2 {
    background-color: #007BFF;
    color: #FFF;
    text-align: center;
    padding: 15px 0;
    border-radius: 10px;
}

.project {
    background-color: #FFF;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project h3 {
    margin-top: 0;
}

.dark-mode {
    background-color: #343a40;
    color: #ffffff;
}

.showbar {
    cursor: pointer;
}

.showbar:hover {
    text-decoration: underline;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}
